/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles or utilities */
body{
    font-family: 'Poppins', sans-serif;
    background-color:  #F3F1FF;
    
}
/* header */

header{
    background: blue;
    height: 95px;
    display: flex;
    justify-content: center;}

    .navigation {
        width: 870px;
        display: flex;
        justify-content: space-between;
     }
     .logo {
        display: flex;
        align-items: center;
        cursor: pointer;
     }


     .logo img {
        height: 40px;
        height: 50px;
     }
     .logo-text {
        color: #ffffff;
        margin-left: 15px;
        font-size: 24px;
     }

     nav {
        display: flex;
        align-items: center;
     }
    .nav-list{
        display: flex;
    }
    .nav-list li {
        list-style: none;
        margin-right: 25px;
     }
     .nav-list li a {
        color: #ffffff;
        text-decoration: none;
       
        padding: 5px;
     }
     .nav-list li a:hover {
        color: #e7e2e2;
        font-weight: 400;
     }
    


main{
    display: flex;
   flex-direction: column;
   align-items: center;
}
.container{
    background-color: #FFFFFF;
  max-width: 870px;
   padding: 30px;
   margin-top:21px ;
   border-radius: 5px;
   
}
hr{
    boarder:1px solid #D1D1D1;
    margin-bottom: 27px;
    
}

/* top players style */
.top-players{
    margin-bottom: 30px;
}
.section-title{
   color: #562EFF;
   font-size: 24px;


}
.players {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-row-gap: 30px;
    }

.player{
    display: flex;
    align-items: center;
}
.player img{
    width:56px;
    height:56px;
}
 .top-players :hover .player img{

    transform: scale(1.5) skew(-30deg)  ;
    transition:transform 2s ease-in-out  ;
 }
 .player-name{
     margin-left: 16px;
     font-size: 18px;

 }
 /* .player :hover .player-name{
    transform: scale(1.5) 
    transition:transform 2s ease-in-out 
 } */
  /* top blog styles */
.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-row-gap: 26px;
}
  .blog{
      display: flex;
  }
  .blog .thumbnail img{
    width: 177px;
    height: 117px;
  }
  .blog-info{
      margin-left: 16px;
  }
.blog-title{
    font-size: 20px;
}
.blog-author{
   color: #9F9F9F;
   font-size: 16px;
}
.blog-author a{
    text-decoration: none;
    color: #562EFF;
    font-size: 16px;
}
/* courses-style */
.courses{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 24px;

}
/* extra */
.course {
    box-shadow: 5px 5px 10px grey;
    padding: 1em;
   
    border-radius: 5%;
    width: 90%;

}


.course .course-banner img{
    width: 224px;
    height: 104px;


}
.course-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color:  #FFC014;
    
}
.fa-star.empty{
    color: #AEAEAE;
    
    
}
.course-duration{
    background-color: rgb(255, 127, 197);
    border-radius: 30px;
    color: red;
    font-size: 12px;
    padding: 2px;
}


/*---------- media queries---------- */
/*-------- mobile devices------- */
@media only  screen and (max-width: 688px){
    .navigation {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px 30px;
     }
     .nav-list li {
        margin-right: 15px;
     }
     .profile-img img {
        display: none;
     }


    .container{  width: 100%;}
    .players ,.blogs ,.courses{
        
        grid-template-columns: repeat(1,1fr);}
        .player, .blog {
            flex-direction: column;
        }
        
    
}
/* tablet devices */

@media only screen and (min-width: 668px) and (max-width: 992px){
    nav{
        width: 870px;
    grid-template-columns: repeat(2,1fr);
    }
    .container{
        
         width: 100%;}
    .players,.courses
    {
        grid-template-columns: repeat(2,1fr);
    }
    .blogs{
        grid-template-columns: repeat(1,1fr);
    }
}
